<h1 class="well text-center">Pending Businesses</h1>

<div class="text-center">
<% if @businesses.any? %>
  <% @businesses.each do |business| %>
  <%= business.name %>
  <%= image_tag business.image_url %>
  <br>
  <br>
    <%= form_for :business, url: activate_business_path(business) do |f| %>
      <%= f.submit "Approve" %>
    <% end %>
    <br>
    <%= form_for :business, url: business_path(business), method: :delete do |f| %>
      <%= f.submit "Deny" %>
    <% end %>
    <br>
  <% end %>
<% else %>
  <h3>There are no pending businesses.</h3>
<% end %>
</div>

<div class="well text-center">
  <button type="button" class="btn btn-info return-to-dashboard">
    <%= link_to "Return to My Dashboard", dashboard_path %>
  </button>
</div>
