<div class="container-fluid">
  <%= form_for :session, url: login_path do |f|%>
    <%= f.text_field :username, placeholder: "Username" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.submit "Login" %>
  <% end %>

  <span style="color: white">Not registered? <button><%= link_to "Create Account", new_user_path %></button></span>
</div>
