<% if @cart_items.empty? %>
  <div class="well">
    <h3>Your Cart is Empty</h3>
  </div>
<% else %>
<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="col-xs-6">
								<a href="/" type="button" class="btn btn-primary btn-sm btn-block">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
            <% @cart_items.each do |cart_item| %>
						<div class="col-xs-2" %> ><img class="img-responsive" src="<%= cart_item.image_path %>">
						</div>
						<div class="col-xs-4">
							<h4 class="product-name"><strong> <%= cart_item.title %></strong></h4><h4><small> <%= cart_item.description %></small></h4>
                  <h4><%= cart_item.business.name %></h4>
              <h4> Check-In: <%= cart_item.starting_date %> </h4> Check-Out: <h4> <%= cart_item.end_date %> </h4>
              <br>
            </div>
						<div class="col-xs-6">
							<div class="col-xs-6 text-right">
                <p class="occupancy"><strong> Total Guests: <%= cart_item.occupancy %></strong></p>
								<h6><strong><%= number_to_currency(cart_item.subtotal) %> <span class="text-muted"></span></strong></h6>
							</div>
							<div class="col-xs-2" id="cart-item-<%= cart_item.id %>" >
                <%= link_to "Edit Booking", property_path(id: cart_item.id, business_name: cart_item.business.slug), method: :get, class: "btn" %>
                <%= link_to "Remove", cart_items_path(id: cart_item.id), method: :delete, class: "btn" %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="text-center">
							<div class="col-xs-3">
							</div>
						</div>
					</div><br>
          <% end %>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">Total <strong><%= number_to_currency(@cart.total_price) %></strong></h4>
						</div>
						<div class="col-xs-3">
              <% if current_user %>
							  <%= button_to "Complete My Booking", orders_path %>
              <% else %>
                <div id="login-or-create-account">
                  <%= link_to "Login or Create Account to Checkout", login_path %>
                </div>
              <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
