<div class='row'>
  <div class='col-md-2'>
    <%= render partial: 'layouts/navbar-side' %>
  </div>
  <div class='col-md-10'>
    <% @items.each do |item| %>
      <div class='container item'>
        <div class="col-md-3">
          <img src=" <%= item.image_path %> " style="width:220px;height:228px;"  /><br><br>
        </div>
        <div class="col-md-6 col-md-offset-1" style='margin: 0 auto; width: 400px;'>
          <%= item.description %>
          <br>
          Price: <%= number_to_currency(item.price) %><br>
          <%= button_to "Add to Cart", cart_items_path({item_id: item.id}), class: 'btn btn-success btn-sm' %>
          <% if current_admin? %>
            <button type="button" class="btn btn-default"><%= link_to "Edit", edit_item_path(item) %></button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

