
<% @items.each do |item| %>
  <div class="well col-md-3">
    <%= link_to item.title, item_path(item) %><br>
    <%= item.description %><br>
    Price: <%= number_to_currency(item.price) %><br>
    <img src=" <%= item.image_path %> " style="width:220px;height:228px;"  /><br><br>
    <%= button_to "Add to Cart", cart_items_path({item_id: item.id}) %>
    <% if current_admin? %>
      <button type="button" class="btn btn-default"><%= link_to "Edit", edit_item_path(item) %></button>
    <% end %>
  </div>
<% end %>
