<div class='row'>
  <div class='col-md-2 sidebar'>
    <%= render partial: 'layouts/navbar-side' %>
  </div>
  <div class='col-md-9 properties'>
    <% @properties.each do |property| %>
      <div class="well col-md-4 item">
        <div class='property-index-header'>
          <%= link_to property.title, property_path(property, business_name: property.business.slug) %><br>
          <%= property.description %><br>
        </div>
        <hr>
        Price Per Guest: <%= number_to_currency(property.price_per_guest) %><br>
        Max Occupancy: <%= property.max_occupancy %><br>
        <%= related_location_or_business(property) %>
        <img src=" <%=property.image_path %> " class='room-image'/><br><br>
        <% if my_property?(property) %>
          <div id='property-admin-btns'>
            <%= link_to "Edit Property", admin_edit_property_path(property, business_name: property.business.slug), class: 'btn btn-warning btn-xs'%>
            <br>
            <%= link_to "Delete Property", admin_delete_property_path(property.id), method: :delete, class: 'btn btn-danger btn-xs' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
