
<h1 style="color: white"> Order <%= @order_number %> </h1><br>
<% unless @order.status == "cancelled" %>
  <button class"btn btn-default"><%= link_to "Cancel Order", order_path(@order), method: :delete %></button><br>
<% end %>

  <% @order.order_items.each do |order_item| %>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Quantity</th>
      <th>Item Price</th>
      <th>Time Order Was Submitted</th>
      <th>Order Status</th>
      <th>Time Completed or Canceled</th>
      <!-- <th>Problem?</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> <%= link_to order_item.title, item_path(order_item) %></th>
      <td><%= order_item.quantity %></td>
      <td><%= number_to_currency(order_item.price) %></td>
      <td><%= order_item.created_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
      <td><%= @order.status %></td>
      <td><%= order_item.created_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
    </tr>
  </tbody>
</table><br><br>
</div>

  <% end %>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group">
      <span> Order Total:<%= number_to_currency(@order_total) %></span>
    </div>
  </nav>
