
<h1> Order <%= @order_number %> </h1>
  <% @order.items.each do |item| %>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Item #</th>
      <th>Item Name</th>
      <th>Item Quantity</th>
      <th>Item Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> <%=item.id%></th>
      <td><%= item.title %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
    </tr>
  </tbody>
</table>
</div>
  <% end %>
