<% @items.each do |item| %>
  <div class="well col-md-3 item">
    <%= link_to item.title, item_path(item) %><br>
    <%= item.description %><br>
    Price: <%= number_to_currency(item.price) %><br>
    <img src=" <%= item.image_path %> " style="width:220px;height:228px;"  /><br><br>
    <%= button_to "Add to Cart", cart_items_path({item_id: item.id}) %>
    <% if current_admin? %>
      <button type="button" class="btn btn-default"><%= link_to "Edit", edit_item_path(item) %></button>
    <% end %>
  </div>
<% end %>
<p style='margin:0 auto; width: 350px;'>
  <label for='amount'>Price Range:</label>
  <input type='text' id='amount' readonly style-'border:0; color:#f6931f; font-weight:bold;'>
</p>

<div id='slider-range'></div>
