<div><img src="<%= asset_path 'header2.jpg' %>" style="width:1260px;height:228px;"></div>
<hr>
<div class='row' id='pill-options'>
  <ul class='nav nav-pills'>
    <li role='presentation'>
      <a href='#' id='location-pill' data-toggle='pill'>Locations</a>
    </li>
    <li role='presentation'>
      <a href='#' id='business-pill' data-toggle='pill'>Businesses</a>
    </li>
  </ul>
</div>
<div>
  <div class='row text-center hide-me' id='businesses'>
    <% @businesses.each do |business| %>
      <a href='/<%= business.slug %>'>
        <div class='well col-md-4 business'>
          <%= business.name %>
          <img src="<%= business.image_url %>">
        </div>
      </a>
    <% end %>
  </div>

  <div class='row text-center' id='locations'>
    <% @locations.each do |location| %>
      <a href="/location/<%= location.slug %>">
        <div class='well col-md-4 location' id='<%= location.slug %>'>
        </div>
      </a>
    <% end %>
  </div>
</div>
