<div class="container-fluid">
  <h1 style="color: white"><%= @category.title.capitalize %></h1><br><br>
</div>
<% @category.items.each do |item| %>
<div class="well col-md-3">
  <%= item.title %><br>
  <%= item.description %><br>
  Price: $<%= item.price %><br><br>
  <img src=" <%= item.image_path %> " style="width:220px;height:228px;" /><br><br>
</div>
<% end %>
