<h1>Edit Property</h1>
<div class="form-group">
  <%= form_for @property, url: admin_update_property_path, method: :patch do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: "Description" %>
    <%= f.label :price_per_guest %><br>
    <%= f.number_field :price_per_guest, placeholder: "Price Per Guest" %>
    <%= f.label :max_occupancy %>
    <%= f.number_field :max_occupancy, placeholder: "Max Occupancy" %>
    <%= f.label :image_path %><br>
    <%= f.text_field :image_path, placeholder: "Image Url" %>
    <%= f.submit "Save Changes" %>
  <% end %>
</div>
