<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p> <%= link_to "Cart Items", cart_index_path %>: <%= @cart.total %></p>
    <% flash.each do |type, message| %>
    <%= content_tag :div, sanitize(message), style: "color: green", class: "flash#{type}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
