<!DOCTYPE html>
<html>
  <head>
    <title>Cyborgism: This aint your daddy's ism</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p> <%= link_to "Cart Items", cart_index_path %>: <%= @cart.total %></p>
    <% flash.each do |type, message| %>
    <%= content_tag :div, sanitize(message), style: "color: green",
        class: "flash#{type}" %>
    <% end %>
    <% if current_user %>
      <%= link_to "Logout", logout_path %><br><br>
    <% else %>
      <%= link_to "Login", login_path %><br><br>
    <% end %>
    <%= yield %>
  </body>
</html>
