<!DOCTYPE html>
<html>
  <head>
    <title>Cyborgism: This aint your daddy's ism</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <p class="navbar-nav navbar-right"><%= link_to "Cart Items", cart_index_path %>: <%= @cart.total %></p>



        <div class="btn-group">
          <button type="button" class="btn btn-default"><%= link_to "Home", root_path %></button>
            <% if current_user %>
              <button type="button" class="btn btn-default"><%= link_to "Logout", logout_path %></button>
              <button type="button" class="btn btn-default"><%= link_to "My Account", '/dashboard' %></button>
            <% end %>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Locations <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% @locations.each do |location| %>
              <li><%= link_to location.city.capitalize, "/location/#{location.slug}" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  <% flash.each do |type, message| %>
  <%= content_tag :div, sanitize(message), style: "color: green",
  class: "flash-#{type}" %>
  <% end %>
    <%= yield %>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="btn-group">
        <% if current_user  %>
        <%= form_tag orders_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span>Total: <%= number_to_currency(@cart.total_price) %></span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Your Cyborg Parts"
                  data-amount=<%= number_to_currency(@cart.total_price) %>
                  data-locale="auto"></script>
        <% end %>
        <% else %>
        <span><button type="button" class="btn btn-default"><%= link_to "Login", login_path %></button> or <button type="button" class="btn btn-default"><%= link_to "Create Account", new_user_path %></button> to Checkout</span>
        <% end %>


      </div>
    </nav>
  </body>
</html>
